<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online library Book management</title>

</head>
<body>
          <form>
            Title:<input type="text" name="title"/>
              Author:<input type="text" name="author"/>
              Year :<input type="number" name="year"/>
              Genre:<input type="text" name="genre"/>
              Quantity:<input type="text" name="quantity"/>
          </form>
</body>
</html>